
{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block content %}
<p> Welcome! This is a demo deployment of Heart Classification Model.</p>

<h1>Instructions</h1>
<p>
    <u1>
        Here, you can choose to: 
        <li> Enter your own data in the form. </li>
        <li> Display a sample prediction from our test dataset. </li>
    </u1>
</p>
<p> You can also choose to <a href=""> view the architecture </a>of the model, 
    <a href="submission">re-examine a submission </a> by providing its reference number, or <a href="">contact the creators.</a></p>

<!-- Add the button for viewing an example -->
<button class="btn-primary" onclick="viewExample()">View Sample Prediction</button>

</br></br></br>


 <!-- TODO replace with django forms  -->
 <table>
    <form method="POST" action="result/">
        {% csrf_token %}
        {{form.as_table}}
    </table>
  <!-- <p>Value: <span id="demo"></span></p> -->
  <button type="submit">Submit</button>

<!-- <script>
    var slider = document.getElementById("ca-range");
    var output = document.getElementById("demo");
    output.innerHTML = slider.value;

    slider.oninput = function() {
    output.innerHTML = this.value;
    }
</script>  -->
    <!-- <form id="tableForm" method="post" action="result/">
    {% csrf_token %}

    <table id="dataTable">
        <thead>
            <tr>
                <th>Image</th>
                <th>Video</th>
                <th>Column 1</th>
                <th>Column 2</th>
                <th>Column 3</th>
                <th>Column 4</th>
                <th>Column 5</th>
                <th>Column 6</th>
                <th>Column 7</th>
                <th>Column 8</th>
                <th>Column 9</th>
                <th>Column 10</th>
                <th>Column 11</th>
                <th>Column 12</th>
                <th>Column 13</th>
                <th>Column 14</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
             Table rows will be dynamically added here
        </tbody>
    </table>
    <button type="button" onclick="addRow()">Add Row</button>
    <button type="button" onclick="clearTable()">Clear Table</button>-->
    <!-- <button type="submit">Submit</button>  -->
<!-- </form> -->

<!-- <script>
    // JavaScript function to handle the button click event for viewing an example
    function viewExample() {
        // Add your logic here to display the example
        alert("Example: This is where you would display the example data or perform any action related to viewing the example.");
    }

    function addRow() {
        var table = document.getElementById("dataTable").getElementsByTagName('tbody')[0];
        var newRow = table.insertRow(table.rows.length);
        for (var i = 0; i < 16; i++) {
            var cell = newRow.insertCell(i);
            if (i === 0) {
                cell.innerHTML = "<input type='file' name='image[]' accept='image/*'>";
            } 
            else if (i == 1){
                cell.innerHTML = "<input type='file' name='video' accept='video/*'>"
            }
            else {
                cell.innerHTML = "<input type='text' name='column" + i + "[]'>";
            }
        }
        var deleteButton = document.createElement("button");
        deleteButton.textContent = "Delete";
        deleteButton.setAttribute("type", "button");
        deleteButton.setAttribute("onclick", "deleteRow(this.parentNode.parentNode)");
        newRow.insertCell(16).appendChild(deleteButton);
    }

    function deleteRow(row) {
        row.parentNode.removeChild(row);
    }

    function clearTable() {
        document.getElementById("dataTable").getElementsByTagName('tbody')[0].innerHTML = '';
    }
</script> -->

{% endblock %}